<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>{{loginid}}님 반갑습니다.</h1>
    <div>
        <form action="/logout" method="POST">
            <button type="submit">로그아웃</button>
        </form>
        <form action="/article/list" method="GET">
            <button type="submit">게시글목록</button>
        </form>
    </div>
</body>
</html>